---
import Layout from '../layouts/Layout.astro';
import Badge from '../components/Badge.astro';
---

<Layout title='Front End Developer'>
  <main>
    <section class='w-full lg:w-[740px] mx-auto py-44'>
      <h1 class='text-white text-5xl font-bold flex justify-center flex-row'>
        Hola, soy Santiago! <div class="flex justify-center">
          <Badge>Cualquier consulta es bienvenida</Badge>
        </div>
      </h1>
      <h2>
        +4 Años de experiencia. Desarrollador Web. De BsAs, Argentina. Me
        especializo en el Front End
      </h2>
      <ul></ul>
    </section>
  </main>
</Layout>
