---
import ExperienceItem from '../icons/ExperienceItemIcon.astro';

const experience = [
  {
    title: 'Desarrollador web',
    description:
      'Desarrollando el Front End de paginas web en React Js; React Ts, JavaScript, TypeScript',
    link: 'sdadsadsadas',
    date: 'sdadsadsadas',
  },
  {
    title: 'Profesor React Js - JavaScript',
    description:
      'Dictado, armado de clases; Parciales; finales. Correccion; Devolucion; Asistencia en todo lo relacionado con la materia y la cursada',
    link: 'sdadsadsadas',
    date: 'sdadsadsadas',
  },
  {
    title: 'Desarrollador Web',
    description:
      'Relevar, diseñar y desarrollar el FrontEnd de diferentes aplicaciones. Asistencia y soporte en aplicaciones web desarrolladas.Desarrollo del BackEnd en Node.Js con conexión a Base de datos Oracle',
    link: 'sdadsadsadas',
    date: 'sdadsadsadas',
  },
];
---

<ol class='relative border-s border-gray-200 ml-3'>
  {
    experience.map((exper) => (
      <li class='mb-10 ms-4'>
        <ExperienceItem {...exper} />
      </li>
    ))
  }
</ol>
