<header class="flex justify-between items-center py-3 w-[1120px]">
    <img src="" alt="santiago foto" class="rounded-full w-12 h-12"/>
    <nav class="flex flex-row gap-x-10 opacity-80">
        <a href="">Principal</a>
        <a href="">Sobre Mi</a>
        <a href="">Proyectos</a>
        <a href="">Contacto</a>
    </nav>
</header>